@model IEnumerable<Skladiste.Models.Roba20191220>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SifraProizvoda)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tezina)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatumIsporuke)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SifraProizvoda)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tezina)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatumIsporuke)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdRoba">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdRoba">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdRoba">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
